<% provide(:title, "Skeeters Media") %>
<%= render 'partials/dashboard_nav' %>

<div class="page-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <%= render 'partials/dashboard_sidebar' %>
      </div>
      <div class="col-md-10">
        <h1 class="secondary-title">Media</h1>
        <div class="row">
          <div class="col-md-7">
        
        
        <div class="recent-updates">
          <h2 class="dash-updates">Images</h2>
          
          
        </div>
        <div class="col-md-5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>