<p>Hello <%= @resource.email %>!</p>

<p>You have been invited to create a Skeeters Baseball Club account. By clicking the link below to create the account you agree to keep your login information private. If there are additional individuals that you would like to recieve an invitation, please request access from the coaching staff.</p>

<p><%= link_to 'Accept invitation and create account', accept_invitation_url(@resource, :invitation_token => @token) %></p>

<p>If you don't want to accept the invitation, please ignore this email.<br />
Your account won't be created until you access the link above and set your password.</p>

<p>Thanks!</p>

<p>Skeeters Coaches</p>
